aside
	div(class="list")
		ul
			-for(let i =0; i<= 5; i++)
				li
					button(type='button',class='btn-room')= `room ${i}`
	div(class="toggle")
		button(
			type="button",
			aria-label="toggle menu",
			aria-expanded="false",
			class="btn-toggle btn-aside",
			data-target="hidden-list")
			span(class='line')
