form#messageBox
	div(class='message-input')
		input(type='text',
				name='message-input',
				value='',
				id='messageInput', required)
		label(class='label-text' for='messageInput') enter your message text ...
	div(class='send-message')
		label
			input(type='submit',
					name='send-message',
					value='send')
