div(class="col-list members")
	div(class="toggle")
		button(
			type="button",
			aria-label="toggle menu",
			aria-expanded="false",
			class="btn btn-toggle",
			data-target="hidden-members")
			span(class='line')
	div(class="members-list list")
		h5(class='list-title') members in the room
		ul
			-for(let i =0; i<= 5; i++)
				li
					include member