div(class='col-list rooms')
	div(class="rooms-list list")
		h5(class='list-title') room list
		ul(id='rooms-ul')
	div(class="toggle")
		button(
			type="button",
			aria-label="toggle menu",
			aria-expanded="false",
			class="btn btn-toggle",
			data-target="hidden-room")
			span(class='line')
