div(class="top-bar")
	div(class='blur')
	button(type='button',
			id='minimze',
			class='btn btn-top',
			aria-label='minmize') -
	button(type='button',
			id='size',
			class='btn btn-top',
			aria-label='maximize') O
	button(type='button',
			id='close',
			class="btn btn-top",
			aria-label='close') X
